{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container">
<a href="/client-creds" class="btn btn-success my-3" onclick="showMsgs()" name="clientCreds">Client Credentials</a>
<br>

<input class="btn btn-primary" type="button" value="Authorize" name="btnOpenPopup" onClick="OpenNewWindow()" />
</div>

{% endblock %}


{% block script %}
	function OpenNewWindow()
         {
			// local
			var MyPath = "https://developer.api.autodesk.com/authentication/v1/authorize?islocal=true&response_type=code&client_id=3iNQxbz0Q0sKqWIkQHFzUzMqTwqlTs9g&redirect_uri=http://127.0.0.1:80/success&scope=data:read";

			// Production
			// var MyPath = "https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=DA30OL6lgJvEMAWEHb7x8azJZCIHJ0ct&redirect_uri=https:bim360frontend.azurewebsites.net/success&scope=data:read";

            window.open(MyPath, "", "toolbar=no,status=no,menubar=no,location=center,scrollbars=no,resizable=no,height=500,width=657");
		 }
{% endblock %}
