{% extends 'base.html' %}

{% block head %}
<!--	<script src="https://apis.google.com/js/platform.js" async defer></script>-->
<!--	<meta name="google-signin-client_id" content="290071372201-2mpkpkaejbiiqd7e533smucokgbc3rhg.apps.googleusercontent.com">-->
{% endblock %}

{% block content %}

<div class="container">
<a href="/client-creds" class="btn btn-success my-3" onclick="showMsgs()" name="clientCreds">Client Credentials</a>
	<br>

<input class="btn btn-primary" type="button" value="Authorize" name="btnOpenPopup" onClick="OpenNewWindow()" />
</div>
<div class="container mt-4">
<!--	<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
</div>
{% endblock %}


{% block script %}
	function OpenNewWindow()
         {
			 var MyPath = "https://developer.api.autodesk.com/authentication/v1/authorize?islocal=true&response_type=code&client_id=3iNQxbz0Q0sKqWIkQHFzUzMqTwqlTs9g&redirect_uri=http://127.0.0.1:80/success&scope=data:read";
			// Production
			// var MyPath = "https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=DA30OL6lgJvEMAWEHb7x8azJZCIHJ0ct&redirect_uri=https:bim360frontend.azurewebsites.net/success&scope=data:read";

            var win = window.open(MyPath, "", "toolbar=no,status=no,menubar=no,location=center,scrollbars=no,resizable=no,height=500,width=657");
			var parent = win.opener;
			// console.log(win);
			win.onload = function() {
				  console.log('yes');
				  console.log(win.location.href);
				};
			win.onload = function () {
				console.log('yes');
				console.log(win.document);
				};

			if (win.document.readyState === 'complete') {
				console.log(win.location.href);
			};


			win.addEventListener('onload', () => {
				 console.log('yes');
				 console.log(win.document.body.innerHTML);
				 // or
				 console.log(win.document.body.innerText);
			});
         }

			// console.log(win.document.body);

			// console.log(win.location.url);
{% endblock %}



	mine	// var MyPath = "https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=QfFDg8lZnaIA5ETChbeDTQzPvti7Qzxs&redirect_uri=https://b55a29c5056d.ngrok.io/success&scope=data:read";
			// var MyPath = "https://developer.api.com/authentication/v1/authorize?response_type=code&client_id=RHWtQGnuMxOR0Gc3sZJrmA3aGqcappQJ&redirect_uri=https://bim360connectorauthcode.azurewebsites.net/api/callback&scope=data:read";








			// console.log(win.document.getElementsByTagName("div")[0]);
			// console.log(win.opener);
			// console.log(win.location.url);
